<table>
    <tr>
        <td>
            <a href="{{ site.baseurl }}/">
                <img src="{{ site.baseurl }}/images/data.png" height="60" x alt="">
            </a>
        </td>
        <td><a href="{{site.baseurl}}/facial">Facial Recognition</a></td>
        <td><a href="{{site.baseurl}}/navigation/section/csp">Titanic ML</a></td>
        <td><a href="{{site.baseurl}}/train">AI Pets</a></td>
        <td><a href="{{site.baseurl}}/navigation/score">Score Predictor</a></td>
        <td><a href="{{site.baseurl}}/README4YML">Readme</a></td>
    </tr>
</table>